@model EventGridTester.Models.PublishEventViewModel
@using Azure.Messaging.EventGrid;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>


<h1>Event History</h1>
<table id="eventHistory">
    <tr>
        <th>Timestamp</th>
        <th>Event Type</th>
        <th>Subject</th>
        <th>Payload</th>
    </tr>

@foreach (EventGridEvent evt in @ViewBag.EventHistory.ReceivedEvents)
{
    <tr id="@evt.Id">
        <td>@evt.EventTime</td>
        <td>@evt.EventType</td>
        <td>@evt.Subject</td>
        <td>@CustomEventModel.FromEventData(evt.Data)?.ToString()</td>
    </tr>
}
</table>

<hr />
<h1>Publish Event</h1>
<form asp-action="SendEvent" method="post"> 
   <div> 
      <label asp-for = "Json"></label> 
      <input asp-for = "Json" /> 
   </div> 
   
   <div> 
      <input type = "submit" value = "Publish" /> 
   </div> 
</form>